// colors
$color-alpha = #333;
$color-beta = #FFF;
$color-gamma = #4D4D4D;
$color-delta = #5F5F5F;
$color-epsilon = #858585;
$color-zeta = #A6A6A6;
$color-eta = #C7C7C7;
$color-theta = #E7E7E7;
$color-iota = #F4F4F4;
$highlight-color = #000;
$button-transition = all 0s;
$button-transition-delay = 300ms;

// dimensions
$dim-micro = 6px;
$dim-small = 14px;
$dim-mega = 60px;